# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Temporary/backup files
*.bak
*.tmp
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Editor config folders
.vscode/
.idea/